/* Marcas */
.brand-section {
  background-color: #040824;
  padding: 4rem 20px;
}

.brand-title {
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  margin: 1rem 0;
}
.brand-title::after {
  content: "";
  display: block;
  width: 80px; /* El ancho de la línea */
  height: 4px; /* El grosor de la línea */
  background: #fff; /* Color de la línea */
  margin: 15px auto 10px; /* Margen para centrarla */
  border-radius: 2px; /* Bordes redondeados */
}

.brand-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 logos por fila */
  gap: 3rem;
  justify-items: center;
  margin-top: 5rem;
}

.brand-item img {
  width: 100%;
  max-height: 60px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.brand-item img:hover {
  transform: scale(1.1);
}

/* Responsivo */
@media (max-width: 768px) {
  .brand-title {
    font-size: 2rem;
  }

  .brand-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 logos por fila */
  }
}

@media (max-width: 480px) {
  .brand-title {
    font-size: 2rem;
  }

  .brand-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 logos por fila */
  }
}
