/* Estilos generales */
.que-ofrecemos {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem; /* Espaciado general */
  text-align: center;
  color: #333;
}

.que-ofrecemos h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #b24c11;
}

.que-ofrecemos h2::after {
  content: "";
  display: block;
  width: 80px; /* El ancho de la línea */
  height: 4px; /* El grosor de la línea */
  background: #b24c11; /* Color de la línea */
  margin: 10px auto 0; /* Margen para centrarla */
  border-radius: 2px; /* Bordes redondeados */
}

.que-ofrecemos p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  color: #555;
}

/* Rejilla de servicios */
.servicios-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem; /* Espaciado entre las tarjetas */
  justify-items: center;
  padding: 0 1rem; /* Espaciado interno para evitar bordes */
}

/* Tarjetas individuales */
.servicio-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem; /* Reducimos el padding */
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 250px; /* Tamaño más pequeño */
  height: 220px; /* Altura más pequeña */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.servicio-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.servicio-card .icon {
  font-size: 2rem; /* Tamaño más pequeño */
  color: #b24c11;
  margin-bottom: 0.8rem; /* Margen ajustado */
}

.servicio-card h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: #333;
}

/* Media Queries */
@media (max-width: 768px) {
  .que-ofrecemos h2 {
    font-size: 2rem;
  }

  .que-ofrecemos p {
    font-size: 1rem;
  }

  .servicios-grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 3 columnas en pantallas medianas */
    padding: 0 1rem; /* Espaciado interno */
  }
}

@media (max-width: 480px) {
  .servicios-grid {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* 2 columnas en pantallas pequeñas */
    gap: 1rem; /* Reducimos el espacio entre tarjetas */
  }

  .servicio-card {
    height: 180px; /* Ajustamos el tamaño para móviles */
  }
}
