.privacy-policy-container {
  padding: 40px;
  margin-top: 80px; /* Ajusta este valor según la altura del Navbar */
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Arial", sans-serif;
  line-height: 1.8;
  color: #333;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.privacy-policy-container h1 {
  color: #007bff;
  font-size: 2rem;
  margin-bottom: 20px;
}

.privacy-policy-container h2 {
  color: #0056b3;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.privacy-policy-container p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.privacy-policy-container ul {
  margin-left: 20px;
  list-style-type: disc;
}

.privacy-policy-container ul li {
  margin-bottom: 10px;
}

.privacy-policy-container a {
  color: #0056b3;
  text-decoration: none;
}

.privacy-policy-container a:hover {
  text-decoration: underline;
}

.back-to-home {
  margin-top: 20px;
  text-align: center;
}

.btn-back {
  background-color: #f9f9f9;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.btn-back:hover {
  background-color: #fff;
}
