/* Estilos generales de la sección */
.especialidades {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.title h2 {
  font-size: 2.5rem;
  font-weight: bold;
  flex: 1;
  text-align: start;
}

.title p {
  font-size: 1.1rem;
  flex: 1;
  text-align: left;
}

.img {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.img .peligrosas,
.img .proyectos {
  width: 48%;
  text-align: center;
}

.img-pair {
  display: flex;
  gap: 1rem; /* Espacio entre las dos imágenes */
}

.img-pair img {
  width: 50%; /* Cada imagen ocupa la mitad del contenedor */
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.img h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 0.5rem;
  color: #000;
  padding: 0.5rem;
  border-radius: 5px;
}

/* Para pantallas más pequeñas (móviles, 768px o menos) */
@media (max-width: 768px) {
  .title {
    flex-direction: column;
    text-align: center;
  }

  .title h2 {
    font-size: 2rem;
  }

  .title p {
    font-size: 1rem;
  }

  .img {
    flex-direction: column;
    gap: 1.5rem;
  }

  .img .peligrosas,
  .img .proyectos {
    width: 100%;
  }

  .img-pair img {
    max-height: 150px;
  }
}
