/* Footer */
.footer {
  background-color: #ececec;
  color: #110f10;
  padding: 40px 20px;
  text-align: center;
  margin-top: 50px; /* Asegura que haya suficiente espacio entre el contenido y el footer */
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer p {
  font-size: 1rem;
  margin-bottom: 10px;
}
