/* Estilos generales de la sección de transporte */
.solucion-transporte {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.transporte-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.transporte-cards h2 {
  font-size: 2.2rem;
  padding: 2.5rem 0 2rem 0;
  text-align: center;
}

.transporte-cards h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background: #040c64;
  margin: 15px auto 10px;
  border-radius: 2px;
}

/* Estilos de las tarjetas */
.card {
  position: relative;
  width: 100%;
  height: 450px;
  padding: 1rem;
  border-radius: 8px;
  overflow: hidden;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

.card.expanded {
  height: 650px;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.card-content {
  position: relative;
  height: 100%;
  z-index: 2;
  color: #fff;
  padding: 1rem;
}

.card h3 {
  color: #fff;
  font-size: 1.8rem;
  margin: 0;
}

.card p {
  font-size: 1rem;
  margin: 0.5rem 0 1rem;
}

.p-breve-a {
  display: none;
}

/* Estilo global */
.p-completo {
  display: block; /* Visible por defecto */
}

/* Botón de contacto */
.contact-btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px 20px;
  background-color: #b24c11;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.9rem;
}

.contact-btn:hover {
  background-color: #fff;
  color: #b24c11;
}

/* Estilos para el modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  width: 80%;
  max-width: 1000px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

/* Estilos para la imagen centrada en el modal */
.modal-content img {
  max-width: 380px;
  height: auto;
  margin-bottom: 1rem;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Lista de contenedores organizada horizontalmente */
.container-list {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  padding-bottom: 1rem;
  justify-content: center;
  position: relative;
}

.container-item {
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-info {
  padding-top: 10px;
}

.modal-content li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  flex-shrink: 0;
  justify-content: center;
}

/* Botón para abrir el modal */
.expand-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #b24c11;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.expand-btn:hover {
  background-color: #8a3707;
}

/* Botón de cerrar */
.close-btn-card {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #b24c11;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-btn-card:hover {
  background-color: #8a3707;
}

/* Botones de navegación a los costados */
.carousel-btn-prev,
.carousel-btn-next {
  position: absolute;
  top: 50%;
  background-color: #b24c11;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 10;
  transform: translateY(-50%);
}

.carousel-btn-prev {
  left: 10px; /* Botón a la izquierda */
}

.carousel-btn-next {
  right: 10px; /* Botón a la derecha */
}

.carousel-btn-prev:hover,
.carousel-btn-next:hover {
  background-color: #8a3707;
}

/* Contenedor para los botones de navegación */
.nav-buttons {
  position: absolute;
  top: 50%;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0;
}

/* Animación de desvanecimiento */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media Queries */

/* Tablets */
@media (max-width: 768px) {
  .solucion-transporte {
    padding: 1.5rem;
  }

  .transporte-cards {
    gap: 1.5rem;
  }

  .transporte-cards h2 {
    font-size: 2rem;
  }

  .card {
    max-width: 100%;
    height: 300px;
  }

  .card h3 {
    font-size: 1.6rem;
  }

  .card p {
    font-size: 1rem;
  }

  .p-completo {
    display: none;
  }

  .p-breve-a {
    display: block;
  }

  .contact-btn {
    font-size: 0.8rem;
  }

  .modal-content {
    width: 90%;
  }
}

/* Móviles */
@media (max-width: 480px) {
  .solucion-transporte {
    padding: 1rem;
  }

  .transporte-cards h2 {
    font-size: 2rem;
  }

  .card {
    max-width: 100%;
    height: 330px;
  }

  .card h3 {
    font-size: 1.4rem;
  }

  .card p {
    font-size: 1rem;
  }

  .p-completo {
    display: none;
  }

  .p-completo-a {
    display: none;
  }

  .p-breve-a {
    display: block;
  }

  .contact-btn {
    padding: 8px 16px;
    font-size: 0.7rem;
  }

  .modal-content {
    width: 90%; /* Reduce el ancho del modal */
    padding: 1rem; /* Reduce el padding interno */
    border-radius: 6px; /* Ajusta el radio de los bordes */
  }

  .modal-content img {
    max-width: 100%; /* Asegura que las imágenes se adapten al ancho */
    height: auto; /* Mantén la proporción de las imágenes */
    margin-bottom: 0.5rem; /* Reduce el margen inferior */
  }

  .modal-content h2 {
    font-size: 1.5rem; /* Reduce el tamaño del encabezado */
    margin-bottom: 1rem; /* Ajusta el espacio inferior */
  }

  .modal-content p {
    font-size: 0.9rem; /* Reduce el tamaño del texto */
    margin: 0.5rem 0; /* Ajusta los márgenes */
  }

  .container-list {
    gap: 1rem; /* Reduce el espacio entre los elementos */
    padding-bottom: 0.5rem; /* Reduce el padding inferior */
  }

  .container-item {
    width: 200px; /* Reduce el ancho de los ítems */
  }

  .carousel-btn-prev,
  .carousel-btn-next {
    font-size: 1rem; /* Ajusta el tamaño de los botones */
    padding: 0.5rem; /* Ajusta el padding */
  }

  .carousel-content h3 {
    font-size: 1.2rem;
  }

  .carousel-content p {
    font-size: 0.8rem;
  }
}
